<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>boobay.io</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

</head>
<body>
<div class="container">
    <h3>List of movies</h3>
    <a th:href="@{/movies/add}">Add a movie</a>
    | <a th:href="@{/movies/list}">All movies</a>
    | <a th:href="@{/movies/list(owned=false)}">Unowned movies</a>
    | <a th:href="@{/movies/list(owned=true)}">Owned movies</a>

    <form th:action="@{/movies/search}" method="POST">
        Search: <input type="text" name="movie" th:value="${search}"/><input type="submit" value="Search"/>
    </form>
    <p th:text="'Movies found: ' + ${movies.size()}"></p>

    <div th:if="${error}">
        <div th:replace="fragments/alert :: alert (type='danger', message=${error})">...</div>
    </div>

    <div th:if="${success}">
        <div th:replace="fragments/alert :: alert (type='success', message=${success})">...</div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Owned</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td><a th:href="@{/movies/details(id=${movie.getId()})}" th:text="${movie.getName()}"></a></td>
            <td th:if="${movie.getOwned() == true}"><i class="fa fa-check"></i></td>
            <td th:if="${movie.getOwned() == false}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>